<h1>Events</h1>
<p>Where the action is</p>
<h2>Past events</h2>
<%# get past events using Event.past %>
<% past_events = Event.past %>
<% future_events = Event.future %>
<div>
  <% past_events.each do |event| %>
    <p><%= link_to event.date, event %></p>
  <% end %>
</div>
<h2>Future events</h2>
<div>
  <% future_events.each do |event| %>
    <p><%= link_to event.date, event %></p>
  <% end %>
</div>
