<h1>Events</h1>
<p>Where the action is</p>
<% past_events = @events.select { |e| e.date < Date.today } %>
<% future_events = @events.select { |e| e.date >= Date.today } %>
<h2>Past events</h2>
<div>
  <% past_events.each do |event| %>
    <p><%= link_to event.date, event %></p>
  <% end %>
</div>
<h2>Future events</h2>
<div>
  <% future_events.each do |event| %>
    <p><%= link_to event.date, event %></p>
  <% end %>
</div>
