<h1>Events</h1>
<p>Where the action is</p>
<% @events.each do |event| %>
  <%# link to event. link text is event date %>
  <p><%= link_to event.date, event %></p>
<% end %>
<%= link_to 'New event', new_event_path %>
